.custom-bg-dark {
	background-color: #0C1013;
}
.custom-bg-black {
    background-color: #000;
}
span.custom-bg-dark,
footer.custom-bg-dark
{
    color: #fff;
}
.custom-shadow {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
/* сначала использовалось для пагинации статьей-карточок по 3 в ряд*/
.blog {
    margin: 4em 0;
    position: relative;
}
/*.blog .card {*/
/*    !*box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);*!*/
/*    !*margin-bottom: 10px;*!*/
/*}*/
.article-border {
    padding: 5px;
}
.article-border,
.article-border:first-child
{
    border-top: 2px solid #0C1013;
}
.article-border:last-child {
    border-bottom: 2px solid #0C1013;
}
.article-bottom-span {
    font-size: .8em;
}
.article-preview-body {
    margin: 10px;
}
.article-content {
    font-size: 1.2em;
}
/*custom link for category*/
.simple-link {
    padding: 10px 0px;
    color: #6d6b6d;
}
.simple-link:hover {
    color: #2f8cb8;
}
.char-lg-size {
    font-size: 1.5em;
}

footer {
    box-shadow: 0 -5px 10px rgba(0, 0, 0, .5);
}

.footer-top-border {
    border-top: 5px solid #000;
}
/* TEMP CLASS */
.dummy {
	background-color: #7F7F7F;
	height: 2000px;
}
